.block p:hover{
    background-color: yellow;
}
.block p:active{
    background: green;
}



.list li:first-child{ 
    color: blue;
}
.list li:last-child{
    text-decoration: underline;

}
.list li:nth-child(3){
    font-size: 50px;

}