/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


body{
	background-color: black;
}
.all{
	width: 100px;
	height: 100px;
	background-color:green ;
	margin: 200px 500px;

	position: relative;
	top: 0;
	left: 0;

	animation: render 5s ease-in-out infinite ;
}


@keyframes render{
	0%{background-color:green ;
		top: 0;
	left: 0;
    border-radius: 0;
	}
	25%{background-color:rgb(204, 241, 70) ;
	top: 350px;
     left: 0;
     border-radius: 50%;}
	50%{background-color:rgb(95, 76, 220) ;
		top: 350px;
		left: 350px;
		border-radius: 0;
	}
	75%{background-color:rgb(203, 50, 63) ;
		top: 0;
		left: 350px;
	border-radius:50%;
}
}